In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)
import numpy as np
import random
from datetime import date
import warnings
warnings.filterwarnings('ignore')

In [2]:
doctor_data = pd.read_csv(r"D:\Appto_Healthcare\Main_Datasets\DAC_NationalDownloadableFile.csv")
doctor_data.head()

,NPI,Ind_PAC_ID,Ind_enrl_ID,lst_nm,frst_nm,mid_nm,suff,gndr,Cred,Med_sch,Grd_yr,pri_spec,sec_spec_1,sec_spec_2,sec_spec_3,sec_spec_4,sec_spec_all,org_nm,org_pac_id,num_org_mem,adr_ln_1,adr_ln_2,ln_2_sprs,cty,st,zip,phn_numbr,hosp_afl_1,hosp_afl_lbn_1,hosp_afl_2,hosp_afl_lbn_2,hosp_afl_3,hosp_afl_lbn_3,hosp_afl_4,hosp_afl_lbn_4,hosp_afl_5,hosp_afl_lbn_5,ind_assgn,grp_assgn,adrs_id
0,1225111404,5193914281,I20110105000301,RUTRICK-GOLDSTEIN,DAVIDA,L,NaN,F,NaN,OTHER,1979.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,213 ROCK CREEK LN,NaN,NaN,SCARSDALE,NY,105837442,8.453548e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NY105837442SC213XXLNXX400
1,1225170988,3274683024,I20090616000781,GREENE,STEVEN,L,NaN,M,NaN,OTHER,1980.0,DERMATOLOGY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4915 25TH AVE NE,207WEST,NaN,SEATTLE,WA,981055667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,NaN,WA981055667SE4915XNEXX402
2,1225184278,648222174,I20050215000016,MORGAN,MICHAEL,S,NaN,M,PT,OTHER,1993.0,PHYSICAL THERAPY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24625 E P STEVENS DR,NaN,NaN,PLAQUEMINE,LA,70764,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,LA707640000PL24625DRXX500
3,1225216302,2365502010,I20081125000511,SCOTT,JOHN,S,NaN,M,NaN,OTHER,1990.0,PHYSICAL THERAPY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,654 W INDIANTOWN RD,SUITE 107,NaN,JUPITER,FL,334587546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,NaN,FL334587546JU654XXRDXX402
4,1225199664,446438808,I20110707000322,SELWOOD,ALEXIS,NaN,NaN,F,NaN,OTHER,1980.0,CLINICAL SOCIAL WORKER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,420 /2 N LARCHMONT BLVD,SUITE 1,NaN,LOS ANGELES,CA,900043014,3.234698e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,NaN,CA900043014LO420XXBLVD502

In [3]:
doctor_data.shape

(2265285, 40)

In [4]:
doctor_data.columns

Index(['NPI', ' Ind_PAC_ID', ' Ind_enrl_ID', ' lst_nm', ' frst_nm', ' mid_nm',
       ' suff', ' gndr', ' Cred', ' Med_sch', ' Grd_yr', ' pri_spec',
       ' sec_spec_1', ' sec_spec_2', ' sec_spec_3', ' sec_spec_4',
       ' sec_spec_all', ' org_nm', ' org_pac_id', ' num_org_mem', ' adr_ln_1',
       ' adr_ln_2', ' ln_2_sprs', ' cty', ' st', ' zip', ' phn_numbr',
       ' hosp_afl_1', ' hosp_afl_lbn_1', ' hosp_afl_2', ' hosp_afl_lbn_2',
       ' hosp_afl_3', ' hosp_afl_lbn_3', ' hosp_afl_4', ' hosp_afl_lbn_4',
       ' hosp_afl_5', ' hosp_afl_lbn_5', ' ind_assgn', ' grp_assgn',
       ' adrs_id'],
      dtype='object')

In [5]:
doctor_data.columns = ['npi', 'ind_pac_id', 'ind_enrl_id', 'last_name', 'first_name', 'mid_name', 'suffix', 'gender',
                      'cred', 'med_sch', 'grd_yr', 'pri_spec', 'sec_spec_1', 'sec_spec_2', 'sec_spec_3', 'sec_spec_4', 'sec_spec_all',
                      'org_name', 'org_pac_id', 'num_org_mem', 'adr_ln_1', 'adr_ln_2', 'ln_2_sprs', 'city', 'state_code', 'zip', 'phone',
                      'hosp_afln_1', 'hosp_afln_lbn_1', 'hosp_afln_2', 'hosp_afln_lbn_2', 'hosp_afln_3', 'hosp_afln_lbn_3',
                      'hosp_afln_4', 'hosp_afln_lbn_4', 'hosp_afln_5', 'hosp_afln_lbn_5', 'ind_assgn', 'grp_assgn', 'adrs_id']

In [6]:
# doctor_data.head()

In [7]:
# doctor_data.isnull().sum()

OBSERVATION:- There are many null values in the columns and many unwanted columns

In [8]:
# doctor_data.nunique(axis=0)

OBSERVATION: There are many duplicate values.

In [9]:
doctor_data=doctor_data.drop_duplicates(subset=['npi','ind_pac_id'],keep='first',inplace=False)
doctor_data.shape

(1163422, 40)

In [10]:
# doctor_data.head()

In [11]:
doctor_data.columns

Index(['npi', 'ind_pac_id', 'ind_enrl_id', 'last_name', 'first_name',
       'mid_name', 'suffix', 'gender', 'cred', 'med_sch', 'grd_yr', 'pri_spec',
       'sec_spec_1', 'sec_spec_2', 'sec_spec_3', 'sec_spec_4', 'sec_spec_all',
       'org_name', 'org_pac_id', 'num_org_mem', 'adr_ln_1', 'adr_ln_2',
       'ln_2_sprs', 'city', 'state_code', 'zip', 'phone', 'hosp_afln_1',
       'hosp_afln_lbn_1', 'hosp_afln_2', 'hosp_afln_lbn_2', 'hosp_afln_3',
       'hosp_afln_lbn_3', 'hosp_afln_4', 'hosp_afln_lbn_4', 'hosp_afln_5',
       'hosp_afln_lbn_5', 'ind_assgn', 'grp_assgn', 'adrs_id'],
      dtype='object')

In [12]:
doctor_data = doctor_data.drop(['ind_pac_id', 'ind_enrl_id', 'suffix', 'cred', 'sec_spec_1', 'sec_spec_2', 'sec_spec_3', 'sec_spec_4', 'sec_spec_all',
       'org_name', 'org_pac_id', 'num_org_mem', 'adr_ln_2','ln_2_sprs', 'phone', 'hosp_afln_1', 'hosp_afln_2', 'hosp_afln_3','hosp_afln_4', 
       'hosp_afln_5', 'ind_assgn', 'grp_assgn', 'adrs_id'], axis = 1)

# doctor_data.head()

In [13]:
# doctor_data.isnull().sum()

In [14]:
doctor_data['hosp_affln']=np.where((doctor_data["hosp_afln_lbn_1"].isnull()) & (doctor_data["hosp_afln_lbn_2"].isnull()) &(doctor_data["hosp_afln_lbn_3"].isnull()) &(doctor_data["hosp_afln_lbn_4"].isnull()) & (doctor_data["hosp_afln_lbn_5"].isnull()),'N', 'Y')
# doctor_data.head()

In [15]:
doctor_data['hosp_affln'].value_counts()

Y    714726
N    448696
Name: hosp_affln, dtype: int64

In [16]:
doctor_data_copy = doctor_data.copy()

In [17]:
doctor_data = doctor_data.drop(['mid_name', 'hosp_afln_lbn_2', 'hosp_afln_lbn_3', 'hosp_afln_lbn_4', 'hosp_afln_lbn_5'], axis = 1)
# doctor_data.head()

In [18]:
doctor_data['grd_yr'].median()

2004.0

In [19]:
def randomiseMissingData(dataset):
    "randomise missing data for DataFrame (within a column)"
    doctor_data_instance = doctor_data.copy()
    for col in ['last_name', 'first_name', 'med_sch', 'grd_yr']:
        data = doctor_data_instance[col]
        mask = data.isnull()
        samples = random.choices( data[~mask].values , k = mask.sum() )
        data[mask] = samples

    return doctor_data_instance

In [20]:
doctor_data = randomiseMissingData(doctor_data)

In [21]:
doctor_data['hosp_afln_lbn_1'] = doctor_data['hosp_afln_lbn_1'].fillna('NO AFFILIATION')
# doctor_data['med_sch'] = doctor_data['med_sch'].fillna('OTHER')
# doctor_data['grd_yr'] = doctor_data['grd_yr'].fillna('2009')
# doctor_data.head()

In [22]:
# doctor_data.info()

In [23]:
doctor_data['grd_yr'] = doctor_data['grd_yr'].astype(np.int64)
# doctor_data['phone'] = doctor_data['phone'].astype(np.int64)
# doctor_data.head()

In [24]:
def clean_zip(data):
    data1 = data['zip']
    data1 = data1.astype(str)
    data['zip']=data1.apply(lambda x: x[:5])
    return data

In [25]:
doctor_data = clean_zip(doctor_data)
# doctor_data.head()

In [26]:
doctor_data['rating']=np.random.uniform(4.0,10.0 ,len(doctor_data))
doctor_data['rating'] = doctor_data['rating'].round(decimals=2)

In [27]:
def experience(data):
    ## calculating experience from the graduation year to till now
    data1=data['grd_yr']
    todays_date=date.today()
    data['experience']=data['grd_yr'].apply(lambda x:todays_date.year-x)
    return data

In [28]:
doctor_data=experience(doctor_data)
# doctor_data.head()

In [29]:
doctor_data['patients'] = np.random.randint(4000,12000,size=len(doctor_data))
# doctor_data.head()

In [30]:
doctor_data['patients'].max()

11999

In [31]:
doctor_data['zip'].nunique()

21203

In [32]:
# doctor_data.dtypes

In [33]:
doctor_data['physician_name'] = doctor_data[['first_name', 'last_name']].apply(lambda x: ' '.join(x), axis=1)

In [34]:
doctor_data.columns

Index(['npi', 'last_name', 'first_name', 'gender', 'med_sch', 'grd_yr',
       'pri_spec', 'adr_ln_1', 'city', 'state_code', 'zip', 'hosp_afln_lbn_1',
       'hosp_affln', 'rating', 'experience', 'patients', 'physician_name'],
      dtype='object')

In [35]:
doctor_data = doctor_data.drop(['first_name', 'last_name'], axis=1)

In [36]:
doctor_data = doctor_data[['npi', 'physician_name', 'gender',
       'med_sch', 'grd_yr', 'pri_spec', 'adr_ln_1', 'city', 'state_code', 'zip',
       'hosp_afln_lbn_1', 'hosp_affln', 'rating', 'patients', 'experience']]
# doctor_data.head()

In [37]:
doctor_data.columns = ['npi', 'physician_name', 'gender',
       'med_sch', 'grd_yr', 'pri_spec', 'street', 'city', 'state_code', 'zip',
       'hosp_affln', 'is_affltd', 'rating', 'patients',
       'experience']
# doctor_data.head()

In [38]:
doctor_data.shape

(1163422, 15)

In [39]:
# doctor_data.info()

In [40]:
def physician_shifts(size = 1, levels = ['09:00 - 13:30 | 16:00 - 20:00 | Y','08:00 - 12:00 | 17:00 - 20:00 | Y','10:00 - 12:00 | 15:00-22:00 | N','10:30 - 14:00 | 16:00-21:00 | Y','05:00 - 09:00 | 15:00 - 19:00 | Y','22:00 - 07:00 | 00:00 - 00:00 | N'], prob = [0.24, 0.32,0.08,0.18,0.06,0.12]):
    arr = np.random.choice(levels, size = size, p = prob)              # decide levels based on input probabilities
    return (arr)

In [41]:
def avg_wttime(size = 1, m = 23, std = 8):
    arr = np.random.normal(m, std, size).astype(int)
    arr = np.clip(arr, 10, 36)
    return (arr)

In [42]:
doctor_data['physician_shifts'] = physician_shifts(len(doctor_data))
doctor_data['avg_wttime'] = avg_wttime(len(doctor_data))
# doctor_data.head()

In [43]:
doctor_data['shift_1'] = doctor_data['physician_shifts'].apply(lambda x: x.split(' | ')[0])
doctor_data['shift_2'] = doctor_data['physician_shifts'].apply(lambda x: x.split(' | ')[1])
doctor_data['emergency_avail'] = doctor_data['physician_shifts'].apply(lambda x: x.split(' | ')[2])
# doctor_data.head()

In [44]:
# Doctor is more busy if the 'busy index' is a lesser value
doctor_data['busy_index'] = doctor_data['patients'].div(doctor_data['avg_wttime'], axis=0)
doctor_data['busy_index'] = doctor_data['busy_index'].astype(np.int64)
doctor_data['busy_index'] = 8000 / doctor_data['busy_index']
doctor_data['busy_index'] = doctor_data['busy_index'].astype(np.int64)
# doctor_data.head()

In [45]:
# doctor_data['busy_index'] = 8000 / doctor_data['busy_index']
# doctor_data['busy_index'] = doctor_data['busy_index'].astype(np.int64)
# doctor_data.head(20)

In [46]:
doctor_data = doctor_data.drop(['physician_shifts', 'med_sch', 'grd_yr'], axis = 1)

In [47]:
doctor_data.columns

Index(['npi', 'physician_name', 'gender', 'pri_spec', 'street', 'city',
       'state_code', 'zip', 'hosp_affln', 'is_affltd', 'rating', 'patients',
       'experience', 'avg_wttime', 'shift_1', 'shift_2', 'emergency_avail',
       'busy_index'],
      dtype='object')

In [48]:
# k = doctor_data.sort_values(by = 'state_code')
# k['state_code'].value_counts()

In [49]:
doctor_data['state_code'].unique()

array(['NY', 'WA', 'LA', 'FL', 'CA', 'OR', 'OH', 'NJ', 'VA', 'MI', 'CO',
       'WV', 'PA', 'GA', 'MA', 'HI', 'OK', 'MO', 'TX', 'NM', 'MN', 'AZ',
       'CT', 'PR', 'KS', 'AR', 'RI', 'IL', 'ID', 'IN', 'NC', 'NE', 'ME',
       'MD', 'AL', 'KY', 'SD', 'VT', 'UT', 'IA', 'NV', 'MS', 'WI', 'NH',
       'TN', 'SC', 'DE', 'WY', 'AK', 'MT', 'ND', 'VI', 'DC', 'GU', 'MP'],
      dtype=object)

In [50]:
us_state_abbrev = {
    'AL': 'Alabama',
    'AK': 'Alaska',
    'AZ': 'Arizona',
    'AR': 'Arkansas',
    'CA': 'California',
    'CO': 'Colorado',
    'CT': 'Connecticut',
    'DE': 'Delaware',
    'DC': 'District of Columbia',
    'FL': 'Florida',
    'GA': 'Georgia',
    'GU': 'Guam',
    'HI': 'Hawaii',
    'ID': 'Idaho',
    'IL': 'Illinois',
    'IN': 'Indiana',
    'IA': 'Iowa',
    'KS': 'Kansas',
    'KY': 'Kentucky',
    'LA': 'Louisiana',
    'ME': 'Maine',
    'MD': 'Maryland',
    'MA': 'Massachusetts',
    'MI': 'Michigan',
    'MN': 'Minnesota',
    'MS': 'Mississippi',
    'MO': 'Missouri',
    'MT': 'Montana',
    'NE': 'Nebraska',
    'NV': 'Nevada',
    'NH': 'New Hampshire',
    'NJ': 'New Jersey',
    'NM': 'New Mexico',
    'NY': 'New York',
    'NC': 'North Carolina',
    'ND': 'North Dakota',
    'MP': 'Northern Mariana Islands',
    'OH': 'Ohio',
    'OK': 'Oklahoma',
    'OR': 'Oregon',
    'PA': 'Pennsylvania',
    'PR': 'Puerto Rico',
    'RI': 'Rhode Island',
    'SC': 'South Carolina',
    'SD': 'South Dakota',
    'TN': 'Tennessee',
    'TX': 'Texas',
    'UT': 'Utah',
    'VT': 'Vermont',
    'VA': 'Virginia',
    'VI': 'Virgin Islands',
    'WA': 'Washington',
    'WV': 'West Virginia',
    'WI': 'Wisconsin',
    'WY': 'Wyoming'
}

In [51]:
doctor_data['state'] = doctor_data['state_code'].map(us_state_abbrev)
doctor_data['state'] = doctor_data['state'].str.upper()

In [52]:
doctor_data['state'].unique()

array(['NEW YORK', 'WASHINGTON', 'LOUISIANA', 'FLORIDA', 'CALIFORNIA',
       'OREGON', 'OHIO', 'NEW JERSEY', 'VIRGINIA', 'MICHIGAN', 'COLORADO',
       'WEST VIRGINIA', 'PENNSYLVANIA', 'GEORGIA', 'MASSACHUSETTS',
       'HAWAII', 'OKLAHOMA', 'MISSOURI', 'TEXAS', 'NEW MEXICO',
       'MINNESOTA', 'ARIZONA', 'CONNECTICUT', 'PUERTO RICO', 'KANSAS',
       'ARKANSAS', 'RHODE ISLAND', 'ILLINOIS', 'IDAHO', 'INDIANA',
       'NORTH CAROLINA', 'NEBRASKA', 'MAINE', 'MARYLAND', 'ALABAMA',
       'KENTUCKY', 'SOUTH DAKOTA', 'VERMONT', 'UTAH', 'IOWA', 'NEVADA',
       'MISSISSIPPI', 'WISCONSIN', 'NEW HAMPSHIRE', 'TENNESSEE',
       'SOUTH CAROLINA', 'DELAWARE', 'WYOMING', 'ALASKA', 'MONTANA',
       'NORTH DAKOTA', 'VIRGIN ISLANDS', 'DISTRICT OF COLUMBIA', 'GUAM',
       'NORTHERN MARIANA ISLANDS'], dtype=object)

In [53]:
doctor_data.head()

,npi,physician_name,gender,pri_spec,street,city,state_code,zip,hosp_affln,is_affltd,rating,patients,experience,avg_wttime,shift_1,shift_2,emergency_avail,busy_index,state
0,1225111404,DAVIDA RUTRICK-GOLDSTEIN,F,CLINICAL SOCIAL WORKER,213 ROCK CREEK LN,SCARSDALE,NY,10583,NO AFFILIATION,N,6.73,7383,42,27,05:00 - 09:00,15:00 - 19:00,Y,29,NEW YORK
1,1225170988,STEVEN GREENE,M,DERMATOLOGY,4915 25TH AVE NE,SEATTLE,WA,98105,NO AFFILIATION,N,6.66,9278,41,15,10:00 - 12:00,15:00-22:00,N,12,WASHINGTON
2,1225184278,MICHAEL MORGAN,M,PHYSICAL THERAPY,24625 E P STEVENS DR,PLAQUEMINE,LA,70764,NO AFFILIATION,N,6.14,7032,28,11,05:00 - 09:00,15:00 - 19:00,Y,12,LOUISIANA
3,1225216302,JOHN SCOTT,M,PHYSICAL THERAPY,654 W INDIANTOWN RD,JUPITER,FL,33458,NO AFFILIATION,N,7.50,11340,31,17,10:30 - 14:00,16:00-21:00,Y,11,FLORIDA
4,1225199664,ALEXIS SELWOOD,F,CLINICAL SOCIAL WORKER,420 /2 N LARCHMONT BLVD,LOS ANGELES,CA,90004,NO AFFILIATION,N,8.92,7746,41,10,10:00 - 12:00,15:00-22:00,N,10,CALIFORNIA

In [54]:
doctor_data = doctor_data[['npi', 'physician_name', 'gender', 'pri_spec', 'is_affltd', 'hosp_affln', 'rating', 
                           'patients', 'experience', 'avg_wttime', 'busy_index', 'shift_1', 'shift_2', 
                           'emergency_avail', 'street', 'city', 'state', 'state_code', 'zip']]
doctor_data.head()

,npi,physician_name,gender,pri_spec,is_affltd,hosp_affln,rating,patients,experience,avg_wttime,busy_index,shift_1,shift_2,emergency_avail,street,city,state,state_code,zip
0,1225111404,DAVIDA RUTRICK-GOLDSTEIN,F,CLINICAL SOCIAL WORKER,N,NO AFFILIATION,6.73,7383,42,27,29,05:00 - 09:00,15:00 - 19:00,Y,213 ROCK CREEK LN,SCARSDALE,NEW YORK,NY,10583
1,1225170988,STEVEN GREENE,M,DERMATOLOGY,N,NO AFFILIATION,6.66,9278,41,15,12,10:00 - 12:00,15:00-22:00,N,4915 25TH AVE NE,SEATTLE,WASHINGTON,WA,98105
2,1225184278,MICHAEL MORGAN,M,PHYSICAL THERAPY,N,NO AFFILIATION,6.14,7032,28,11,12,05:00 - 09:00,15:00 - 19:00,Y,24625 E P STEVENS DR,PLAQUEMINE,LOUISIANA,LA,70764
3,1225216302,JOHN SCOTT,M,PHYSICAL THERAPY,N,NO AFFILIATION,7.50,11340,31,17,11,10:30 - 14:00,16:00-21:00,Y,654 W INDIANTOWN RD,JUPITER,FLORIDA,FL,33458
4,1225199664,ALEXIS SELWOOD,F,CLINICAL SOCIAL WORKER,N,NO AFFILIATION,8.92,7746,41,10,10,10:00 - 12:00,15:00-22:00,N,420 /2 N LARCHMONT BLVD,LOS ANGELES,CALIFORNIA,CA,90004

In [55]:
doctor_data['patients'].mean()

8000.814911528233

In [56]:
final_data = doctor_data
final_data.head()

,npi,physician_name,gender,pri_spec,is_affltd,hosp_affln,rating,patients,experience,avg_wttime,busy_index,shift_1,shift_2,emergency_avail,street,city,state,state_code,zip
0,1225111404,DAVIDA RUTRICK-GOLDSTEIN,F,CLINICAL SOCIAL WORKER,N,NO AFFILIATION,6.73,7383,42,27,29,05:00 - 09:00,15:00 - 19:00,Y,213 ROCK CREEK LN,SCARSDALE,NEW YORK,NY,10583
1,1225170988,STEVEN GREENE,M,DERMATOLOGY,N,NO AFFILIATION,6.66,9278,41,15,12,10:00 - 12:00,15:00-22:00,N,4915 25TH AVE NE,SEATTLE,WASHINGTON,WA,98105
2,1225184278,MICHAEL MORGAN,M,PHYSICAL THERAPY,N,NO AFFILIATION,6.14,7032,28,11,12,05:00 - 09:00,15:00 - 19:00,Y,24625 E P STEVENS DR,PLAQUEMINE,LOUISIANA,LA,70764
3,1225216302,JOHN SCOTT,M,PHYSICAL THERAPY,N,NO AFFILIATION,7.50,11340,31,17,11,10:30 - 14:00,16:00-21:00,Y,654 W INDIANTOWN RD,JUPITER,FLORIDA,FL,33458
4,1225199664,ALEXIS SELWOOD,F,CLINICAL SOCIAL WORKER,N,NO AFFILIATION,8.92,7746,41,10,10,10:00 - 12:00,15:00-22:00,N,420 /2 N LARCHMONT BLVD,LOS ANGELES,CALIFORNIA,CA,90004

In [57]:
# final_data['busy_index'].max()

In [58]:
# final_data['physician_name'] = final_data['physician_name'].str.upper()
# final_data['speciality'] = final_data['speciality'].str.upper()
# final_data['affiliated_hospital'] = final_data['affiliated_hospital'].str.upper()
# final_data['street_address'] = final_data['street_address'].str.upper()
# final_data['city'] = final_data['city'].str.upper()
# final_data.head()

In [61]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1163422 entries, 0 to 2265279
Data columns (total 19 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   npi              1163422 non-null  int64
 1   physician_name   1163422 non-null  object
 2   gender           1163422 non-null  object
 3   pri_spec         1163422 non-null  object
 4   is_affltd        1163422 non-null  object
 5   hosp_affln       1163422 non-null  object
 6   rating           1163422 non-null  float64
 7   patients         1163422 non-null  int32
 8   experience       1163422 non-null  int64
 9   avg_wttime       1163422 non-null  int32
 10  busy_index       1163422 non-null  int64
 11  shift_1          1163422 non-null  object
 12  shift_2          1163422 non-null  object
 13  emergency_avail  1163422 non-null  object
 14  street           1163422 non-null  object
 15  city             1163422 non-null  object
 16  state            1163422 non-null  object
 17  state_code       1163422 non-null  object
 18  zip              1163422 non-null  object
dtypes: float64(1), int32(2), int64(3), object(13)
memory usage: 168.6+ MB

In [62]:
final_data.to_csv(r"D:\Appto_Healthcare\Cleaned_Datasets\final_doctor_data_11l.csv",index=False)

In [63]:
from sqlalchemy import create_engine
import psycopg2 
import io

In [64]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/demodb')

In [65]:
final_data.head(0).to_sql('doctor_table', engine, if_exists='replace',index=False) #drops old table and creates new empty table

In [66]:
conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
final_data.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'doctor_table', null="") # null values become ''
conn.commit()