In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)
import numpy as np
import random
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r"D:\Appto_Healthcare\Main_Datasets\Patient_Data_Generated.csv")
df.head()

,patient_id,patient_age,patient_gender,pref_day,pref_time,consulting_date,consulting_time,consulting_day,consulting_timestamp
0,OIGYV,75,M,Tuesday,19:00:00,2019-01-01,03:58:31,Tuesday,2019-01-01 03:58:31
1,O35C2,27,M,Sunday,18:00:00,2019-01-01,15:38:30,Tuesday,2019-01-01 15:38:30
2,X62IX,38,M,Tuesday,19:00:00,2019-01-02,02:27:11,Wednesday,2019-01-02 02:27:11
3,7RCSX,94,M,Sunday,16:00:00,2019-01-02,05:13:50,Wednesday,2019-01-02 05:13:50
4,3KIPU,70,F,Sunday,22:00:00,2019-01-02,05:18:12,Wednesday,2019-01-02 05:18:12

In [3]:
df.shape

(3211537, 9)

In [4]:
df['patient_id'].nunique()

3211537

In [5]:
doctor_spec = pd.read_csv(r"D:\Appto_Healthcare\Cleaned_Datasets\final_doctor_data_11l.csv")
doctor_spec.head()

,npi,physician_name,gender,pri_spec,is_affltd,hosp_affln,rating,patients,experience,avg_wttime,busy_index,shift_1,shift_2,emergency_avail,street,city,state,state_code,zip
0,1225111404,DAVIDA RUTRICK-GOLDSTEIN,F,CLINICAL SOCIAL WORKER,N,NO AFFILIATION,6.73,7383,42,27,29,05:00 - 09:00,15:00 - 19:00,Y,213 ROCK CREEK LN,SCARSDALE,NEW YORK,NY,10583
1,1225170988,STEVEN GREENE,M,DERMATOLOGY,N,NO AFFILIATION,6.66,9278,41,15,12,10:00 - 12:00,15:00-22:00,N,4915 25TH AVE NE,SEATTLE,WASHINGTON,WA,98105
2,1225184278,MICHAEL MORGAN,M,PHYSICAL THERAPY,N,NO AFFILIATION,6.14,7032,28,11,12,05:00 - 09:00,15:00 - 19:00,Y,24625 E P STEVENS DR,PLAQUEMINE,LOUISIANA,LA,70764
3,1225216302,JOHN SCOTT,M,PHYSICAL THERAPY,N,NO AFFILIATION,7.50,11340,31,17,11,10:30 - 14:00,16:00-21:00,Y,654 W INDIANTOWN RD,JUPITER,FLORIDA,FL,33458
4,1225199664,ALEXIS SELWOOD,F,CLINICAL SOCIAL WORKER,N,NO AFFILIATION,8.92,7746,41,10,10,10:00 - 12:00,15:00-22:00,N,420 /2 N LARCHMONT BLVD,LOS ANGELES,CALIFORNIA,CA,90004

In [6]:
doctor_spec.columns

Index(['npi', 'physician_name', 'gender', 'pri_spec', 'is_affltd',
       'hosp_affln', 'rating', 'patients', 'experience', 'avg_wttime',
       'busy_index', 'shift_1', 'shift_2', 'emergency_avail', 'street', 'city',
       'state', 'state_code', 'zip'],
      dtype='object')

In [7]:
doctor_spec['pri_spec'].value_counts()

NURSE PRACTITIONER                        159464
INTERNAL MEDICINE                          91239
FAMILY MEDICINE                            87096
PHYSICIAN ASSISTANT                        82166
PHYSICAL THERAPY                           62389
                                           ...
PERIPHERAL VASCULAR DISEASE                   55
ADULT CONGENITAL HEART DISEASE (ACHD)         37
MEDICAL TOXICOLOGY                            36
UNDEFINED NON-PHYSICIAN TYPE (SPECIFY)        19
MASS IMMUNIZATION ROSTER BILLER                4
Name: pri_spec, Length: 86, dtype: int64

In [8]:
def generate_treatments(size) -> list:
    treatments = doctor_spec['pri_spec'].tolist()

    # likelihood of each of the treatments - make some more common
    weights = random.choices(range(1, 100), k=len(treatments))
    treatment_codes = random.choices(
        treatments, k=size, weights=weights)
    return treatment_codes

In [9]:
len(doctor_spec)

1163422

In [10]:
df['npi']=np.random.choice(doctor_spec['npi'],size=len(df))
df.head()

,patient_id,patient_age,patient_gender,pref_day,pref_time,consulting_date,consulting_time,consulting_day,consulting_timestamp,npi
0,OIGYV,75,M,Tuesday,19:00:00,2019-01-01,03:58:31,Tuesday,2019-01-01 03:58:31,1205361326
1,O35C2,27,M,Sunday,18:00:00,2019-01-01,15:38:30,Tuesday,2019-01-01 15:38:30,1740673250
2,X62IX,38,M,Tuesday,19:00:00,2019-01-02,02:27:11,Wednesday,2019-01-02 02:27:11,1639185044
3,7RCSX,94,M,Sunday,16:00:00,2019-01-02,05:13:50,Wednesday,2019-01-02 05:13:50,1821261405
4,3KIPU,70,F,Sunday,22:00:00,2019-01-02,05:18:12,Wednesday,2019-01-02 05:18:12,1831337682

In [11]:
df.nunique()

patient_id              3211537
patient_age                  87
patient_gender                3
pref_day                      7
pref_time                    15
consulting_date             707
consulting_time           86400
consulting_day                7
consulting_timestamp    3119934
npi                     1089829
dtype: int64

In [12]:
dk = df.drop_duplicates(subset=['patient_id'],keep='first',inplace=False)

In [13]:
dk.shape

(3211537, 10)

In [14]:
dk = dk.join(doctor_spec.set_index('npi'), on='npi')

In [15]:
dk.head()

,patient_id,patient_age,patient_gender,pref_day,pref_time,consulting_date,consulting_time,consulting_day,consulting_timestamp,npi,physician_name,gender,pri_spec,is_affltd,hosp_affln,rating,patients,experience,avg_wttime,busy_index,shift_1,shift_2,emergency_avail,street,city,state,state_code,zip
0,OIGYV,75,M,Tuesday,19:00:00,2019-01-01,03:58:31,Tuesday,2019-01-01 03:58:31,1205361326,TELYCIA JOHNSON,F,FAMILY MEDICINE,N,NO AFFILIATION,6.83,8220,4,19,18,08:00 - 12:00,17:00 - 20:00,Y,401 E 34TH ST,INDIANAPOLIS,INDIANA,IN,46205
1,O35C2,27,M,Sunday,18:00:00,2019-01-01,15:38:30,Tuesday,2019-01-01 15:38:30,1740673250,LEAH WALLER,F,PHYSICIAN ASSISTANT,N,NO AFFILIATION,6.43,6042,7,21,27,10:00 - 12:00,15:00-22:00,N,2401 RESEARCH BLVD,ROCKVILLE,MARYLAND,MD,20850
2,X62IX,38,M,Tuesday,19:00:00,2019-01-02,02:27:11,Wednesday,2019-01-02 02:27:11,1639185044,MICHAEL GERAGHTY,M,DIAGNOSTIC RADIOLOGY,Y,MEDICAL CENTER OF THE ROCKIES,4.59,10190,29,17,13,22:00 - 07:00,00:00 - 00:00,N,100 COOK ST,DENVER,COLORADO,CO,80206
3,7RCSX,94,M,Sunday,16:00:00,2019-01-02,05:13:50,Wednesday,2019-01-02 05:13:50,1821261405,ALI ABOUTALEB,M,FAMILY MEDICINE,Y,KAISER FOUNDATION HOSPITAL - ZION,5.21,5127,26,17,26,10:30 - 14:00,16:00-21:00,Y,4647 ZION AVE,SAN DIEGO,CALIFORNIA,CA,92120
4,3KIPU,70,F,Sunday,22:00:00,2019-01-02,05:18:12,Wednesday,2019-01-02 05:18:12,1831337682,KATHERINE MCCALLA GILLIATT,F,NURSE PRACTITIONER,Y,ASCENSION ST VINCENT DUNN,5.56,11192,13,25,17,10:30 - 14:00,16:00-21:00,Y,2415 B MITCHELL RD,BEDFORD,INDIANA,IN,47421

In [16]:
dk.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3211537 entries, 0 to 3211536
Data columns (total 28 columns):
 #   Column                Dtype
---  ------                -----
 0   patient_id            object
 1   patient_age           int64
 2   patient_gender        object
 3   pref_day              object
 4   pref_time             object
 5   consulting_date       object
 6   consulting_time       object
 7   consulting_day        object
 8   consulting_timestamp  object
 9   npi                   int64
 10  physician_name        object
 11  gender                object
 12  pri_spec              object
 13  is_affltd             object
 14  hosp_affln            object
 15  rating                float64
 16  patients              int64
 17  experience            int64
 18  avg_wttime            int64
 19  busy_index            int64
 20  shift_1               object
 21  shift_2               object
 22  emergency_avail       object
 23  street                object
 24  city                  object
 25  state                 object
 26  state_code            object
 27  zip                   int64
dtypes: float64(1), int64(7), object(20)
memory usage: 710.6+ MB

In [17]:
dk.columns

Index(['patient_id', 'patient_age', 'patient_gender', 'pref_day', 'pref_time',
       'consulting_date', 'consulting_time', 'consulting_day',
       'consulting_timestamp', 'npi', 'physician_name', 'gender', 'pri_spec',
       'is_affltd', 'hosp_affln', 'rating', 'patients', 'experience',
       'avg_wttime', 'busy_index', 'shift_1', 'shift_2', 'emergency_avail',
       'street', 'city', 'state', 'state_code', 'zip'],
      dtype='object')

In [18]:
dk['pri_spec'].value_counts()

NURSE PRACTITIONER                        439861
INTERNAL MEDICINE                         251481
FAMILY MEDICINE                           240155
PHYSICIAN ASSISTANT                       226678
PHYSICAL THERAPY                          172399
                                           ...
PERIPHERAL VASCULAR DISEASE                  147
ADULT CONGENITAL HEART DISEASE (ACHD)        107
MEDICAL TOXICOLOGY                            95
UNDEFINED NON-PHYSICIAN TYPE (SPECIFY)        61
MASS IMMUNIZATION ROSTER BILLER                5
Name: pri_spec, Length: 86, dtype: int64

In [19]:
dk = dk.drop(['physician_name', 'gender','is_affltd', 'hosp_affln', 'rating', 'patients', 'experience',
       'avg_wttime', 'busy_index', 'shift_1', 'shift_2', 'emergency_avail',
       'street', 'hosp_affln', 'rating', 'patients', 'experience'], axis = 1)
dk.head()

,patient_id,patient_age,patient_gender,pref_day,pref_time,consulting_date,consulting_time,consulting_day,consulting_timestamp,npi,pri_spec,city,state,state_code,zip
0,OIGYV,75,M,Tuesday,19:00:00,2019-01-01,03:58:31,Tuesday,2019-01-01 03:58:31,1205361326,FAMILY MEDICINE,INDIANAPOLIS,INDIANA,IN,46205
1,O35C2,27,M,Sunday,18:00:00,2019-01-01,15:38:30,Tuesday,2019-01-01 15:38:30,1740673250,PHYSICIAN ASSISTANT,ROCKVILLE,MARYLAND,MD,20850
2,X62IX,38,M,Tuesday,19:00:00,2019-01-02,02:27:11,Wednesday,2019-01-02 02:27:11,1639185044,DIAGNOSTIC RADIOLOGY,DENVER,COLORADO,CO,80206
3,7RCSX,94,M,Sunday,16:00:00,2019-01-02,05:13:50,Wednesday,2019-01-02 05:13:50,1821261405,FAMILY MEDICINE,SAN DIEGO,CALIFORNIA,CA,92120
4,3KIPU,70,F,Sunday,22:00:00,2019-01-02,05:18:12,Wednesday,2019-01-02 05:18:12,1831337682,NURSE PRACTITIONER,BEDFORD,INDIANA,IN,47421

In [20]:
dk['pref_day'] = dk['pref_day'].str.upper()
dk['consulting_day'] = dk['consulting_day'].str.upper()
dk.head()

,patient_id,patient_age,patient_gender,pref_day,pref_time,consulting_date,consulting_time,consulting_day,consulting_timestamp,npi,pri_spec,city,state,state_code,zip
0,OIGYV,75,M,TUESDAY,19:00:00,2019-01-01,03:58:31,TUESDAY,2019-01-01 03:58:31,1205361326,FAMILY MEDICINE,INDIANAPOLIS,INDIANA,IN,46205
1,O35C2,27,M,SUNDAY,18:00:00,2019-01-01,15:38:30,TUESDAY,2019-01-01 15:38:30,1740673250,PHYSICIAN ASSISTANT,ROCKVILLE,MARYLAND,MD,20850
2,X62IX,38,M,TUESDAY,19:00:00,2019-01-02,02:27:11,WEDNESDAY,2019-01-02 02:27:11,1639185044,DIAGNOSTIC RADIOLOGY,DENVER,COLORADO,CO,80206
3,7RCSX,94,M,SUNDAY,16:00:00,2019-01-02,05:13:50,WEDNESDAY,2019-01-02 05:13:50,1821261405,FAMILY MEDICINE,SAN DIEGO,CALIFORNIA,CA,92120
4,3KIPU,70,F,SUNDAY,22:00:00,2019-01-02,05:18:12,WEDNESDAY,2019-01-02 05:18:12,1831337682,NURSE PRACTITIONER,BEDFORD,INDIANA,IN,47421

In [21]:
# dk['doctor_specialization'] = list(map(lambda x: x.capitalize(), dk['doctor_specialization']))
# dk['city'] = list(map(lambda x: x.capitalize(), dk['city']))

In [22]:
dk.shape

(3211537, 15)

In [23]:
patient_data = dk

In [24]:
patient_data['zip'] = patient_data['zip'].astype(str)

In [25]:
patient_data['consulting_timestamp'] = pd.to_datetime(patient_data['consulting_timestamp'])

In [26]:
patient_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3211537 entries, 0 to 3211536
Data columns (total 15 columns):
 #   Column                Dtype
---  ------                -----
 0   patient_id            object
 1   patient_age           int64
 2   patient_gender        object
 3   pref_day              object
 4   pref_time             object
 5   consulting_date       object
 6   consulting_time       object
 7   consulting_day        object
 8   consulting_timestamp  datetime64[ns]
 9   npi                   int64
 10  pri_spec              object
 11  city                  object
 12  state                 object
 13  state_code            object
 14  zip                   object
dtypes: datetime64[ns](1), int64(2), object(12)
memory usage: 392.0+ MB

In [27]:
patient_data.head()

,patient_id,patient_age,patient_gender,pref_day,pref_time,consulting_date,consulting_time,consulting_day,consulting_timestamp,npi,pri_spec,city,state,state_code,zip
0,OIGYV,75,M,TUESDAY,19:00:00,2019-01-01,03:58:31,TUESDAY,2019-01-01 03:58:31,1205361326,FAMILY MEDICINE,INDIANAPOLIS,INDIANA,IN,46205
1,O35C2,27,M,SUNDAY,18:00:00,2019-01-01,15:38:30,TUESDAY,2019-01-01 15:38:30,1740673250,PHYSICIAN ASSISTANT,ROCKVILLE,MARYLAND,MD,20850
2,X62IX,38,M,TUESDAY,19:00:00,2019-01-02,02:27:11,WEDNESDAY,2019-01-02 02:27:11,1639185044,DIAGNOSTIC RADIOLOGY,DENVER,COLORADO,CO,80206
3,7RCSX,94,M,SUNDAY,16:00:00,2019-01-02,05:13:50,WEDNESDAY,2019-01-02 05:13:50,1821261405,FAMILY MEDICINE,SAN DIEGO,CALIFORNIA,CA,92120
4,3KIPU,70,F,SUNDAY,22:00:00,2019-01-02,05:18:12,WEDNESDAY,2019-01-02 05:18:12,1831337682,NURSE PRACTITIONER,BEDFORD,INDIANA,IN,47421

In [28]:
patient_data.to_csv(r"D:\Appto_Healthcare\Cleaned_Datasets\final_manipulated_patient_data_33l.csv",index=False)

In [29]:
from sqlalchemy import create_engine
import psycopg2 
import io

In [30]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/demodb')

In [31]:
patient_data.head(0).to_sql('patient_table', engine, if_exists='replace',index=False)

In [32]:
conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
patient_data.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'patient_table', null="") # null values become ''
conn.commit()